{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Show{% endblock %}
{% block content %}

    <div class="page-header">
        <h1>Fyyur Search!</h1>
    </div>
    <p class="lead"> Show Search </p>

    <ul class="nav nav-pills">
        <li class="active"><a>Shows</a></li>
    </ul>


{#    Todo implement show search frontend #}

<h3>Number of search results for "{{ search_term }}": {{ results.count }}</h3>
<ul class="items">
	{% for show in results.data %}
	<li>
		<a href="/shows/{{ show.id }}">
			<i class="nav nav-pills"></i>
			<div class="item">
				<h5>{{ venue.name }}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>




{% endblock %}
